In [54]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

from IPython.display import display
from tableone import TableOne
from scipy.stats import chi2_contingency, kruskal

pd.options.display.precision = 3

## Load useful DataFrames

In [55]:
# Get the adult patients first icustay id.
df = pd.read_csv('icu_first_18.csv')
icu = []
for icuid in df['icustay_id']:
    icu.append(icuid)

In [56]:
# Admission demographics
df = pd.read_csv('adm_demographics.csv')
df = df.set_index(['subject_id', 'hadm_id'])
df_demographics = df.filter(['age', 'gender', 'ethnicity'])

# Admission demographics for adjustments
df_demo_adj = pd.concat([df['age'],
                         pd.get_dummies(df['gender']),
                         pd.get_dummies(df['ethnicity'])], axis=1)
df_demo_adj = df_demo_adj.drop(['M', 'OTHER'], axis=1)

In [57]:
# Average daily chloride load of first 3 days
df = pd.read_csv('chloride.csv')
df = df.set_index(['subject_id', 'hadm_id', 'icustay_id'])
df = df.filter(['icu_day', 'chloride_input_meq'])
df = df.dropna(subset = ['chloride_input_meq'])
df = df.query('icu_day <= 3')
df = df.groupby(['subject_id', 'hadm_id', 'icustay_id']) \
       .agg({'icu_day': 'max', 'chloride_input_meq': 'sum'})
df['daily_chl_load'] = df['chloride_input_meq'] / df['icu_day']
df_chl_load = df.filter(['daily_chl_load'])

In [74]:
# SOFA score on admission (day 1)
df = pd.read_csv('sofa_pan.csv')
df = df.drop(df.columns[[0]], axis=1) 
df = df.query('day == 1')
df_sofa = df.filter(['subject_id', 'hadm_id', 'icustay_id','respiration', 'coagulation','liver','cns','renal','cardiovascular'])
df_sofa = df_sofa.fillna(0)
df_sofa

,subject_id,hadm_id,icustay_id,respiration,coagulation,liver,cns,renal,cardiovascular
0,3,145834,211552,0.0,0.0,0.0,0.0,3.0,4.0
6,4,185777,294638,0.0,0.0,1.0,0.0,0.0,1.0
8,6,107064,228232,0.0,0.0,0.0,0.0,4.0,0.0
12,9,150750,220597,3.0,0.0,0.0,0.0,1.0,1.0
18,11,194540,229441,0.0,0.0,0.0,1.0,0.0,1.0
20,12,112213,232669,0.0,2.0,0.0,0.0,1.0,0.0
28,13,143045,263738,0.0,1.0,0.0,0.0,0.0,0.0
32,17,161087,257980,2.0,0.0,0.0,0.0,0.0,0.0
33,17,194023,277042,1.0,1.0,0.0,4.0,0.0,1.0
36,18,188822,298129,0.0,0.0,0.0,0.0,0.0,0.0
38,19,109235,273430,0.0,0.0,0.0,1.0,1.0,0.0
40,20,157681,264490,2.0,1.0,0.0,0.0,0.0,1.0
42,21,109451,217847,2.0,0.0,0.0,1.0,3.0,1.0
48,21,111970,216859,0.0,0.0,0.0,0.0,3.0,3.0
57,22,165315,204798,0.0,0.0,0.0,0.0,3.0,0.0
58,23,124321,234044,0.0,0.0,0.0,0.0,0.0,1.0
60,23,152223,227807,1.0,2.0,0.0,0.0,0.0,1.0
62,24,161859,262236,0.0,0.0,0.0,0.0,0.0,0.0
63,25,129635,203487,0.0,0.0,0.0,0.0,1.0,3.0
67,26,197661,244882,0.0,0.0,0.0,0.0,1.0,1.0
70,28,162569,225559,3.0,1.0,0.0,4.0,0.0,3.0
72,30,104557,225176,0.0,0.0,0.0,0.0,2.0,1.0
74,31,128652,254478,0.0,0.0,0.0,0.0,0.0,1.0
82,32,175413,295037,3.0,0.0,0.0,0.0,1.0,1.0
90,33,176176,296681,0.0,0.0,0.0,0.0,0.0,1.0
92,34,115799,263086,0.0,0.0,0.0,1.0,1.0,1.0
93,34,144319,290505,0.0,0.0,0.0,1.0,1.0,1.0
95,35,166707,282039,3.0,2.0,0.0,0.0,0.0,1.0
101,36,122659,211200,0.0,0.0,0.0,0.0,2.0,1.0
108,36,165660,241249,3.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
232417,99899,188409,245756,0.0,0.0,0.0,3.0,1.0,4.0
232427,99901,131711,226541,0.0,1.0,0.0,0.0,2.0,1.0
232434,99903,135939,291066,0.0,0.0,0.0,1.0,0.0,1.0
232436,99912,189380,236183,3.0,0.0,0.0,0.0,0.0,3.0
232449,99913,175989,292375,1.0,2.0,0.0,0.0,0.0,1.0
232453,99922,123563,259919,2.0,1.0,0.0,0.0,0.0,1.0
232454,99923,164914,202505,0.0,1.0,2.0,0.0,3.0,1.0
232455,99923,192053,298857,0.0,2.0,2.0,1.0,2.0,1.0
232458,99928,104802,236704,0.0,0.0,0.0,0.0,0.0,1.0
232459,99935,174624,255381,0.0,0.0,0.0,0.0,0.0,1.0
232460,99936,107913,213906,0.0,0.0,0.0,0.0,0.0,1.0
232464,99937,129380,291004,0.0,1.0,0.0,0.0,0.0,1.0
232466,99938,103815,296707,3.0,0.0,0.0,0.0,0.0,3.0
232474,99939,159023,252442,3.0,2.0,0.0,0.0,4.0,0.0
232477,99944,185654,221067,0.0,0.0,0.0,0.0,1.0,1.0
232481,99946,157197,298613,0.0,0.0,1.0,2.0,0.0,0.0
232482,99955,108494,243255,0.0,1.0,1.0,0.0,1.0,1.0
232488,99957,148574,257127,0.0,0.0,0.0,1.0,0.0,1.0
232491,99965,101083,257338,0.0,0.0,0.0,0.0,0.0,1.0
232493,99966,167228,252173,0.0,1.0,0.0,0.0,1.0,1.0
232495,99973,150202,275083,0.0,0.0,0.0,0.0,1.0,1.0
232498,99982,112748,275958,0.0,1.0,0.0,1.0,1.0,1.0
232503,99982,151454,221194,0.0,1.0,1.0,0.0,1.0,1.0
232511,99982,183791,239827,0.0,0.0,0.0,0.0,1.0,3.0
232518,99983,117390,286606,0.0,0.0,0.0,0.0,1.0,1.0
232520,99985,176670,279638,4.0,0.0,0.0,0.0,0.0,1.0
232532,99991,151118,226241,2.0,0.0,0.0,1.0,1.0,0.0
232536,99992,197084,242052,0.0,1.0,0.0,0.0,1.0,1.0
232538,99995,137810,229633,2.0,0.0,2.0,0.0,0.0,1.0
232541,99999,113369,246512,0.0,0.0,0.0,0.0,0.0,1.0

In [59]:
# New AKI
df = pd.read_csv('new_aki.csv')
df['new'] = df.apply(lambda row: 1 if row['difference'] < 0 else 0, axis=1)
df_aki = df.filter(['icustay_id', 'new'])
df_aki = df_aki[df_aki['icustay_id'].isin(icu)]

## Define useful functions

In [60]:
def run_kruskal(df_neg, df_pos):
    """Display results of a Kruskal-Wallis H test.
    
    @param df_neg: DataFrame containing the negative samples
    @param df_pos: DataFrame containing the positive samples
    """
    summary = pd.concat([df_neg.describe(), df_pos.describe()], axis=1)
    summary.columns = ['(-)', '(+)']
    display(summary)
    print (kruskal(df_neg, df_pos))

def run_chi2(index, columns):
    """Display results of a chi-square test of independence.
    
    @param index: Values to group by in the rows
    @param columns: Values to group by in the columns
    """
    print ("Chi-square test of independence with Yates' continuity correction")
    c_table = pd.crosstab(index, columns)
    display(c_table)
    chi2, p, dof, expected = chi2_contingency(c_table)  # correction=True (Yates' correction)
    print ("X-squared = %s" % chi2)
    print ("dof       = %s" % dof)
    print ("p-value   = %s" % p)

def run_glm(df):
    """Display results (odds ratios) of a GLM regression.

    @param df: DataFrame with columns [exog1, exog2, ..., endog]
    """
    endog = df[df.columns[-1]]
    exog = sm.add_constant(df[df.columns[:-1]])
    glm = sm.GLM(endog, exog, family=sm.families.Binomial())  # == sm.Logit(endog, exog)
    result = glm.fit()
    print (result.summary())

    odds = pd.concat([result.params, result.conf_int()], axis=1)[1:]  # toss const (first row)
    odds.columns = ['Odds Ratio', '2.5%', '97.5%']
    display(np.exp(odds))

# Daily Chloride Load and New AKI¶

In [79]:
df_combined = pd.merge(df_chl_load.reset_index(),df_sofa,on=['subject_id','hadm_id','icustay_id'])
df_combined = pd.merge(df_combined.reset_index(),df_demo_adj.reset_index(),on=['subject_id','hadm_id'])
df_combined = df_combined.drop(df_combined.columns[[0]], axis=1)
df_combined = pd.merge(df_combined,df_aki,on=['icustay_id'])
df_combined

,subject_id,hadm_id,icustay_id,daily_chl_load,respiration,coagulation,liver,cns,renal,cardiovascular,age,F,ASIAN,BLACK,HISPANIC,WHITE,new
0,3,145834,211552,742.665,0.0,0.0,0.0,0.0,3.0,4.0,76.575,0,0,0,0,1,0
1,4,185777,294638,150.150,0.0,0.0,1.0,0.0,0.0,1.0,47.877,1,0,0,0,1,0
2,6,107064,228232,274.120,0.0,0.0,0.0,0.0,4.0,0.0,65.984,1,0,0,0,1,0
3,9,150750,220597,41.580,3.0,0.0,0.0,0.0,1.0,1.0,41.816,0,0,0,0,0,1
4,11,194540,229441,42.675,0.0,0.0,0.0,1.0,0.0,1.0,50.181,1,0,0,0,1,0
5,12,112213,232669,139.921,0.0,2.0,0.0,0.0,1.0,0.0,72.419,0,0,0,0,1,1
6,13,143045,263738,61.643,0.0,1.0,0.0,0.0,0.0,0.0,39.890,1,0,0,0,1,0
7,17,161087,257980,218.000,2.0,0.0,0.0,0.0,0.0,0.0,47.849,1,0,0,0,1,0
8,17,194023,277042,151.500,1.0,1.0,0.0,4.0,0.0,1.0,47.485,1,0,0,0,1,0
9,18,188822,298129,80.850,0.0,0.0,0.0,0.0,0.0,0.0,50.874,0,0,0,0,1,0
10,19,109235,273430,102.700,0.0,0.0,0.0,1.0,1.0,0.0,91.400,0,0,0,0,1,0
11,20,157681,264490,278.000,2.0,1.0,0.0,0.0,0.0,1.0,75.926,1,0,0,0,1,0
12,21,109451,217847,49.280,2.0,0.0,0.0,1.0,3.0,1.0,87.496,0,0,0,0,1,0
13,21,111970,216859,168.822,0.0,0.0,0.0,0.0,3.0,3.0,87.882,0,0,0,0,1,0
14,22,165315,204798,34.650,0.0,0.0,0.0,0.0,3.0,0.0,64.970,1,0,0,0,1,0
15,23,124321,234044,216.917,0.0,0.0,0.0,0.0,0.0,1.0,75.304,0,0,0,0,1,0
16,23,152223,227807,115.347,1.0,2.0,0.0,0.0,0.0,1.0,71.178,0,0,0,0,1,1
17,24,161859,262236,77.000,0.0,0.0,0.0,0.0,0.0,0.0,39.041,0,0,0,0,1,0
18,25,129635,203487,466.312,0.0,0.0,0.0,0.0,1.0,3.0,58.989,0,0,0,0,1,1
19,26,197661,244882,33.367,0.0,0.0,0.0,0.0,1.0,1.0,72.052,0,0,0,0,0,0
20,28,162569,225559,290.859,3.0,1.0,0.0,4.0,0.0,3.0,74.433,0,0,0,0,1,0
21,30,104557,225176,158.812,0.0,0.0,0.0,0.0,2.0,1.0,91.400,0,0,0,0,0,1
22,31,128652,254478,205.137,0.0,0.0,0.0,0.0,0.0,1.0,72.312,0,0,0,0,1,1
23,32,175413,295037,78.797,3.0,0.0,0.0,0.0,1.0,1.0,45.542,0,0,0,0,1,0
24,33,176176,296681,86.665,0.0,0.0,0.0,0.0,0.0,1.0,82.447,0,0,0,0,0,1
25,34,144319,290505,19.834,0.0,0.0,0.0,1.0,1.0,1.0,91.400,0,0,0,0,1,0
26,35,166707,282039,240.705,3.0,2.0,0.0,0.0,0.0,1.0,69.488,1,0,0,0,1,1
27,36,122659,211200,624.977,0.0,0.0,0.0,0.0,2.0,1.0,69.778,0,0,0,0,1,0
28,36,165660,241249,181.832,3.0,1.0,0.0,0.0,0.0,1.0,72.775,0,0,0,0,1,0
29,36,182104,280987,382.886,2.0,1.0,0.0,1.0,0.0,1.0,69.745,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44060,99894,127380,204236,279.760,0.0,0.0,0.0,1.0,0.0,4.0,60.041,1,0,0,0,1,1
44061,99897,162913,266801,499.703,0.0,0.0,0.0,1.0,4.0,0.0,53.586,0,0,1,0,0,0
44062,99897,181057,298720,224.735,0.0,0.0,0.0,0.0,4.0,1.0,54.493,0,0,1,0,0,0
44063,99899,188409,245756,438.600,0.0,0.0,0.0,3.0,1.0,4.0,87.014,0,0,1,0,0,0
44064,99901,131711,226541,151.523,0.0,1.0,0.0,0.0,2.0,1.0,68.874,0,0,0,0,1,1
44065,99903,135939,291066,16.164,0.0,0.0,0.0,1.0,0.0,1.0,50.142,0,0,1,0,0,0
44066,99912,189380,236183,241.592,3.0,0.0,0.0,0.0,0.0,3.0,84.600,0,0,0,0,1,1
44067,99913,175989,292375,242.941,1.0,2.0,0.0,0.0,0.0,1.0,71.137,0,0,0,1,0,1
44068,99922,123563,259919,701.847,2.0,1.0,0.0,0.0,0.0,1.0,69.326,0,0,0,0,1,0
44069,99923,192053,298857,540.148,0.0,2.0,2.0,1.0,2.0,1.0,54.647,0,0,0,0,1,1
44070,99928,104802,236704,238.471,0.0,0.0,0.0,0.0,0.0,1.0,20.885,1,0,0,1,0,0
44071,99936,107913,213906,276.696,0.0,0.0,0.0,0.0,0.0,1.0,91.400,1,0,0,0,1,0
44072,99937,129380,291004,20.508,0.0,1.0,0.0,0.0,0.0,1.0,65.721,1,0,0,1,0,0
44073,99938,103815,296707,330.840,3.0,0.0,0.0,0.0,0.0,3.0,80.890,0,0,0,0,1,1
44074,99939,159023,252442,30.787,3.0,2.0,0.0,0.0,4.0,0.0,26.967,0,0,0,1,0,0
44075,99944,185654,221067,7.700,0.0,0.0,0.0,0.0,1.0,1.0,85.537,1,0,0,0,1,1
44076,99946,157197,298613,736.559,0.0,0.0,1.0,2.0,0.0,0.0,49.699,0,0,0,0,1,0
44077,99955,108494,243255,210.500,0.0,1.0,1.0,0.0,1.0,1.0,63.233,0,0,1,0,0,1
44078,99957,148574,257127,110.525,0.0,0.0,0.0,1.0,0.0,1.0,68.096,0,0,0,0,1,0
44079,99965,101083,257338,156.632,0.0,0.0,0.0,0.0,0.0,1.0,66.334,0,0,0,0,1,0
44080,99966,167228,252173,28.233,0.0,1.0,0.0,0.0,1.0,1.0,77.537,0,0,0,0,1,0
44081,99973,150202,275083,335.700,0.0,0.0,0.0,0.0,1.0,1.0,65.542,1,0,0,0,1,0
44082,99982,112748,275958,110.182,0.0,1.0,0.0,1.0,1.0,1.0,65.304,0,0,0,0,1,1
44083,99982,151454,221194,326.271,0.0,1.0,1.0,0.0,1.0,1.0,65.200,0,0,0,0,1,1
44084,99982,183791,239827,39.266,0.0,0.0,0.0,0.0,1.0,3.0,65.419,0,0,0,0,1,1
44085,99983,117390,286606,108.570,0.0,0.0,0.0,0.0,1.0,1.0,78.627,0,0,0,0,0,0
44086,99985,176670,279638,368.426,4.0,0.0,0.0,0.0,0.0,1.0,53.844,0,0,0,0,1,0
44087,99991,151118,226241,152.098,2.0,0.0,0.0,1.0,1.0,0.0,47.748,0,0,0,0,1,0
44088,99995,137810,229633,102.499,2.0,0.0,2.0,0.0,0.0,1.0,88.756,1,0,0,0,1,1
44089,99999,113369,246512,157.008,0.0,0.0,0.0,0.0,0.0,1.0,64.022,1,0,0,1,0,0

In [80]:
run_kruskal(df_combined.query('new == 0').filter(['daily_chl_load']),
            df_combined.query('new == 1').filter(['daily_chl_load']))

             (-)        (+)
count  25530.000  18560.000
mean     205.792    218.432
std      184.597    168.704
min        0.036      0.257
25%       78.502    103.950
50%      163.625    189.384
75%      278.000    294.616
max     3150.200   6742.801

KruskalResult(statistic=258.9141388335734, pvalue=2.9594418703360235e-58)

In [81]:
df_combined = df_combined.set_index(['subject_id','hadm_id','icustay_id'])
run_glm(df_combined)

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                    new   No. Observations:                44090
Model:                            GLM   Df Residuals:                    44076
Model Family:                Binomial   Df Model:                           13
Link Function:                  logit   Scale:                             1.0
Method:                          IRLS   Log-Likelihood:                -27725.
Date:                Mon, 08 Apr 2019   Deviance:                       55450.
Time:                        10:55:37   Pearson chi2:                 4.31e+04
No. Iterations:                     4
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const             -0.6303      0.051    -12.343      0.000      -0.730      -0.530
daily_chl_load -4.847e-05   6.01e-05     -0.807      0.420      -0.000    6.92e-05
respiration        0.2230      0.009     25.795      0.000       0.206       0.240
coagulation        0.1302      0.014      9.511      0.000       0.103       0.157
liver              0.0121      0.016      0.750      0.453      -0.020       0.044
cns               -0.0299      0.011     -2.821      0.005      -0.051      -0.009
renal             -0.5966      0.012    -51.578      0.000      -0.619      -0.574
cardiovascular     0.1426      0.011     13.514      0.000       0.122       0.163
age                0.0079      0.001     12.486      0.000       0.007       0.009
F                 -0.1112      0.021     -5.347      0.000      -0.152      -0.070
ASIAN             -0.0870      0.072     -1.212      0.225      -0.228       0.054
BLACK             -0.1246      0.045     -2.741      0.006      -0.214      -0.036
HISPANIC          -0.2223      0.062     -3.572      0.000      -0.344      -0.100
WHITE             -0.1767      0.030     -5.914      0.000      -0.235      -0.118
==================================================================================

                Odds Ratio   2.5%  97.5%
daily_chl_load       1.000  1.000  1.000
respiration          1.250  1.229  1.271
coagulation          1.139  1.109  1.170
liver                1.012  0.981  1.045
cns                  0.971  0.951  0.991
renal                0.551  0.538  0.563
cardiovascular       1.153  1.130  1.177
age                  1.008  1.007  1.009
F                    0.895  0.859  0.932
ASIAN                0.917  0.796  1.055
BLACK                0.883  0.808  0.965
HISPANIC             0.801  0.709  0.905
WHITE                0.838  0.790  0.889