In [9]:
import pandas as pd
chlo = "chloride.csv"
sofa = "sofa_pan.csv"
aki = "aki_final.csv"

sofa = pd.read_csv(sofa)
chl = pd.read_csv(chlo)
aki = pd.read_csv(aki)

In [10]:
aki = aki[['icustay_id', 'day', 'aki_stage']]
aki = aki.query('day <= 7')
aki = aki.dropna()

In [5]:
df = aki.reset_index().groupby('icustay_id').apply ( lambda x : x.loc[x['day'].argmin(),'day'])
df = pd.DataFrame({'icustay_id':df.index, 'day':df.values})
df = df[df['day'] > 1]
df['aki_stage'] = 0
df['day'] = 1
aki = pd.concat([aki,df])
aki

/Users/panyiheng/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

       icustay_id  day  aki_stage
0          200001  1.0        3.0
1          200001  2.0        3.0
2          200001  3.0        3.0
4          200003  1.0        0.0
5          200003  2.0        1.0
6          200003  3.0        0.0
7          200003  4.0        0.0
8          200003  5.0        0.0
9          200003  6.0        3.0
10         200006  1.0        2.0
11         200006  2.0        3.0
12         200007  1.0        3.0
14         200009  1.0        1.0
15         200009  2.0        3.0
16         200009  3.0        3.0
17         200010  1.0        0.0
18         200011  1.0        2.0
19         200011  2.0        3.0
20         200012  1.0        0.0
21         200014  1.0        3.0
22         200014  2.0        0.0
23         200016  1.0        3.0
24         200019  1.0        2.0
25         200019  2.0        3.0
26         200019  3.0        3.0
27         200021  1.0        3.0
28         200021  2.0        3.0
30         200025  1.0        2.0
31         200025  2.0        3.0
32         200025  3.0        3.0
...           ...  ...        ...
41617      280029  1.0        0.0
42205      281170  1.0        0.0
42270      281328  1.0        0.0
42633      282043  1.0        0.0
43528      283818  1.0        0.0
43594      283913  1.0        0.0
43602      283927  1.0        0.0
43901      284497  1.0        0.0
44329      285313  1.0        0.0
44395      285451  1.0        0.0
44680      286026  1.0        0.0
44918      286467  1.0        0.0
45144      286903  1.0        0.0
45166      286937  1.0        0.0
45382      287373  1.0        0.0
45992      288530  1.0        0.0
46466      289465  1.0        0.0
46482      289493  1.0        0.0
46792      290100  1.0        0.0
47785      291965  1.0        0.0
47788      291971  1.0        0.0
47901      292202  1.0        0.0
48121      292640  1.0        0.0
48200      292795  1.0        0.0
48887      294146  1.0        0.0
49334      295008  1.0        0.0
49337      295012  1.0        0.0
49888      296066  1.0        0.0
50302      296852  1.0        0.0
51827      299797  1.0        0.0

[168759 rows x 3 columns]

In [11]:
df = aki.reset_index().groupby('icustay_id').apply ( lambda x : x.loc[x['day'].argmin(),'day'])
df = pd.DataFrame({'icustay_id':df.index, 'day':df.values})
df = df[df['day'] > 1]
df.head()

/Users/panyiheng/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

      icustay_id  day
396       200769  2.0
758       201462  5.0
843       201645  2.0
1084      202097  2.0
1318      202546  2.0

In [34]:
df = aki.reset_index().groupby('icustay_id').apply( lambda x : 
                                                   
                                                   [x.loc[x['day'].argmin(),'aki_stage']- x['aki_stage'].max(), 
                                                    x.loc[x['day'].argmin(),'aki_stage']])

/Users/panyiheng/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/panyiheng/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  after removing the cwd from sys.path.

In [35]:
df = pd.DataFrame({'icustay_id':df.index, 'difference':df.values})
df[['dif','first']] = pd.DataFrame(df.difference.values.tolist(), index= df.index)
df = df.filter(['icustay_id', 'first', 'dif'])

In [36]:
df.to_csv('new_aki.csv')